[submodule "libs/double-conversion"]
	path = libs/double-conversion
	url = git@github.com:google/double-conversion.git
[submodule "libs/yapic.core"]
	path = libs/yapic.core
	url = git@github.com:zozzz/yapic.core.git
