name: Test

on:
  push:
    branches: [master]
    tags-ignore: ["**"]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} python:${{ matrix.python-version }}
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.10']
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: install deps
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install pytest

      - name: run tests
        run: python3 setup.py test -f tests -a "-q -x"
